#work
{
	position: absolute;
	top:200vh;
	height:100vh;
	width:100%;
	/*background-color: black;*/
	background-image: url("./../images/bluetriangles.svg");
	/*background-attachment: fixed;*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#work > div
{
	position: absolute;
	top:10%;
	height:80%;
	left:5%;
	width:90%;
	background-color: rgba(0,0,0,0.0);
}
#work > div > div > article
{
	/*position: absolute;*/
	top:10%;
	height: 100%;
	background-color: rgba(255,255,255,0.6);
	border-radius: 10px;
	text-align: center;
}
#work > div > div > article > div
{
	position: relative;
	top: 30px;
	/*left:2%;*/
	width:96%;
	height:40%;	
}
#work > div > div > article > div > img
{
	position: relative;
	top: 30px;
	left:2%;
	width:96%;
	height:90%;
	z-index:4;

	-webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}
#work > div > div > article > div > img:hover
{
	position: relative;
	z-index:4;
	top: 30px;
	/*left:2%;*/
	width:100%;
	height:95%;
	
	-webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}
#work > div > div > article > h4 
{
	position: relative;
	top: 50px;
	font-size: 1.5em;
	color: #010827;
	font-weight: 300;
	height:20%;
}

#work > div > div > article > h5
{
	position: relative;
	top: 20px;
	font-size: 1.2em;
	color: #010827;
	font-weight: 300;
	height:20%;
}